<h1><%= "タスク詳細ページ"%></h1>
<p>
  <strong><%= Task.human_attribute_name(:title) %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:content) %>:</strong>
  <%= @task.content %>
</p>

<%= link_to "編集", edit_task_path(@task) %> |
<%= link_to "戻る", tasks_path %>
